  <header id="main-header">
    <div class="container">
      <h1><a href="/">COFFEFREE</a></h1>
      <nav>
        <ul id='main-menu'>
          <li><a href="sub01.html">COFFEE GEAR</a></li>
          <li><a href="#">SUBSCRIPTION</a></li>
          <li><a href="#">BEANS</a></li>
        </ul>
        <ul id="icon-menu">
          <li>
            <label for="s"><i class="fas fa-search"></i></label>
            <input type="search" id="s">
          </li>
          <li><a href="#"><i class="fas fa-user"></i></a></li>
          <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
      </nav>
    </div><!-- end container -->
  </header>